@model KsiegarniaPKP.Models.PozycjaKoszyka

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PozycjaKoszyka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oferta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oferta.OfertaId)
        </dd>
        <dt class="col-sm-2">
            Książka
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oferta.Ksiazka.Tytul)
        </dd>
        <dt class="col-sm-2">
            Autor
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oferta.Ksiazka.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klient.Imie) @Html.DisplayFor(model => model.Klient.Nazwisko)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
