@model IEnumerable<KsiegarniaPKP.Models.PozycjaKoszyka>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Oferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Oferta.OfertaId)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Klient.Imie) @Html.DisplayFor(modelItem => item.Klient.Nazwisko)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OfertaId" asp-route-klientid="@item.KlientId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OfertaId" asp-route-klientid="@item.KlientId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OfertaId" asp-route-klientid="@item.KlientId">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
