@model IEnumerable<KsiegarniaPKP.Models.Ksiazka>

@{
    ViewData["Title"] = "Index";
}

<h1>Oferta</h1>

<a class="btn btn-primary" asp-action="Create" style="margin-block: 20px;" role="button">Dodaj nową książkę</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Zdjęcie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
               Tytuł
            </th>
            <th style="min-width: 150px">
                Rok wydania
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Url.Content(item.ObrazekUrl)" alt="Obrazek książki" style="height:100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RokWydania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                <a class="text-primary" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a class="text-success" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
