@model KsiegarniaPKP.Models.Oferta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Oferta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dostepnosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dostepnosc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ksiazka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ksiazka.Autor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OfertaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
