@model IEnumerable<KsiegarniaPKP.Models.Oferta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Dostępność
            </th>
            <th>
                Tytuł
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Autor
            </th>
            <th>
                Gatunek
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OfertaId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dostepnosc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ksiazka.Tytul)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ksiazka.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ksiazka.Gatunek)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OfertaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OfertaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OfertaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
