@model IEnumerable<KsiegarniaPKP.Models.Oferta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dostepnosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ksiazka)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dostepnosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ksiazka.Autor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OfertaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OfertaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OfertaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
