@model KsiegarniaPKP.Models.Zamowienie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zamowienie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dostawa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dostawa.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klient.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pracownik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pracownik.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dokument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dokument.Nabywca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrZamowienia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrZamowienia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
